<!--<h1>You saved those definitions for this word:</h1>

#foreach ($definition in $definitions)
<ol>
  <li><a href="/definitions/$definition.getId()">$definition.getDescription()</a></li>
</ol>
#end

<a href="definitions/new">Add another definition</a> -->
