<h1>Your Custom Dictionary!</h1>

<p><a href="/words">View your words</a></p>

<p><a href="/words/new">Add a new word to your dictionary</a></p>

<img src="../images/dictionary-day.png" alt="Dictionary Picture">
