<h3>Your saved definitions for this word:</h3>

#foreach ($definition in $word.getDefinitions())
  <ul>
    <li><h4>$definition.getDescription()</h4></li>
  </ul>
#end

<ul>
  <li><a href="/words/$word.getId()/definitions/new">Add a definition</a></li>
  <li><a href="/">Return to main page</a></li>
</ul>
