<h1>View your words</h1>

#if ($words.isEmpty())
  Your do not have any saved words. Please enter a word your would like to save to your dictionary.

  <h3><a href="/words/new">Add a new word</a></h3>

#else
  #foreach($word in $words)
    <h3><a href="/words/$word.getId()">$word.getWord()</a></h3>
  #end
#end
